.categoriesContainer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categoryLink {
    display: flex;
    justify-content: center;
    margin: 10vh 10vh;
    flex-direction: column;
    text-align: center;
}

.categoryLink a {
    display: inline-block;
}

.categoryLink img {
    height: 40vh;
    width: 40vh;
}

.categoryLink p {
    font-size: 6vh;
}